#scary_stream{
  font-size: 40px;
  color: #586F7C;
  position:relative;
  left: 900px;
  top: 300px;
  font-family: 'Creepster', cursive;
}

body{
  background-color: black;
}
img{
  position: relative;
  height:300px;
  width: 300px;
  left: 610px;
  top:  -185px;
  border: 5px solid #F4F4F9;

}
.myButtons{
  position:relative;
  left:300px;
  top: 300px;
  z-index: 2;

}
#play{
  background-color: #586F7C;
  width: 40px;
  height:40px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  margin: 30px;
  left:300px;
  top:400px;
  padding: 10px;
  font-family: 'Eater', cursive;
}
#pause{
  background-color: #586F7C;
  width: 40px;
  height:40px;
  position: relative;
  border: 2px solid #F4F4F9;
  border-radius: 10px;
  margin: 30px;
  left:300px;
  top:400px;
  padding: 10px;
  font-family: 'Eater', cursive;
}
#back{
  background-color: #586F7C;
  width: 40px;
  height:40px;
  position: relative;
  border: 2px solid #F4F4F9;
  border-radius: 10px;
  margin: 30px;
  left:300px;
  top:400px;
  padding: 10px;
  font-family: 'Eater', cursive;
}
#next{
  background-color: #586F7C;
  width: 40px;
  height:40px;
  position: relative;
  border: 2px solid #F4F4F9;
  border-radius: 10px;
  margin: 30px;
  left:300px;
  top:400px;
  padding: 10px;
  font-family: 'Eater', cursive;
}
.info_container{
  background-color: #586F7C;
  position: relative;
  height: 500px;
  width: 800px;
  left: 600px;
  top: 300px;
  border: 2px solid black;
  border-radius: 20px;
}
#information{
  font-size: 20px;
  position: relative;
  height: 100px;
  width: 400px;
  top: 70px;
  left: 350px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
}
#name{
  font-size: 20px;
  position: relative;
  height: 40px;
  width: 200px;
  top:380px;
  left:30px;
}
#userUrl{
  position: relative;
  left: 30px;
  top: -60px;
}
#title_genre{
  font-family: 'Eater', cursive;
  position: relative;
  left: 400px;
  font-size: 20px;
  top: 50px;
}
#songName1{
  color: black;
  height: 30px;
  width: 300px;
  position: relative;
  left: 400px;
}
#songLink1{
  position: relative;
  left: 430px;
  top: -10px;
}
#songName2{
  color: black;
  height: 30px;
  width: 300px;
  position: relative;
  left: 400px;
}
#songLink2{
  position: relative;
  left: 430px;
  top: -10px;
}
#songName3{
  color: black;
  height: 30px;
  width: 300px;
  position: relative;
  left: 400px;
}
#songLink3{
  position: relative;
  left: 430px;
  top: -10px;
}
#songName4{
  color: black;
  height: 30px;
  width: 400px;
  position: relative;
  left: 400px;
}
#songLink4{
  position: relative;
  left: 430px;
  top: -10px;
}
